<article class="post">
  <div class="card-title">
    <a href="{{post_content}}" target="_blank">{{title}}</a>
  </div>
  <div class="card-content">
    <span>{{post_content}}</span>
  </div>
  <div class="card-meta">
     by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>